Client/Connected Services/EmployeeServiceRef/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EmployeeService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EmployeeService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="employee">
    <xs:sequence>
      <xs:element minOccurs="0" name="empAdd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="empEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="empID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="empName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="empPhNo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="employee" nillable="true" type="tns:employee" />
  <xs:complexType name="ArrayOfemployee">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="employee" nillable="true" type="tns:employee" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfemployee" nillable="true" type="tns:ArrayOfemployee" />
</xs:schema>